{
  "include": [
    "test/**/*.spec.ts"
  ],
  "exclude": [
    "dist",
    "node_modules",
    "**/*.d.ts",
    "**/*.js"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "text-summary",
    "json",
    "html"
  ],
  "all": true
}
